:root {
  --md-primary-fg-color: #0c737e;
  --md-primary-fg-color--light: #16c0d3;
  --md-primary-fg-color--dark: #09565f;
}

@page {
  size: a4 portrait;
  margin: 25mm 10mm 25mm 10mm;
  counter-increment: page;
  white-space: pre;
  color: grey;
  @bottom-center {
    content: "Page " counter(page);
  }
}

.gsc-main {
  font-size: 4px;
}
